h3{
  margin: 0.5rem 0;
}

.el-table{
  margin-top: 10px;
}


.success{color: #67C23A;}
.warning{color: #E6A23C;}
.danger{
  //font-size: 1.5em;
  font-weight: bold;
  color: #F56C6C;
}
.info{color: #909399;}
